name: Checkin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  generate-changes:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get all changes
        run: |
           git log --since=format:relative:10.minutes.ago --pretty=format:"%h%x09%an%x09%ae%x09%at" | jq -nR '[
                                                   inputs |
                                                   split("\t") |
                                                   {
                                                     "commit": .[0],
                                                     "name": .[1],
                                                     "email": .[2],
                                                     "timestamp": .[3]
                                                   }
                                                 ] | { "inside": . }' > changes.json
      - name: check file
        run: |
          cat changes.json

      - name: Set Matrix
        id: set-matrix
        run: echo "matrix=$(jq -c . < ./changes.json)" >> $GITHUB_OUTPUT

  commit-changes:
    needs: generate-changes
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.generate-changes.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'ianthpun/test-dest-repo'
          token: ${{ secrets.PUSH_TOKEN }}
      - name: test
        run: |
          echo hello ${{ matrix.inside.email }}
      - name: append to file
        run: |
          echo ${{ matrix.inside }} >> ${{ matrix.inside.email }}
      - name: commit
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com 
          git add . 
          git commit -m "update ${{ matrix.inside.email }}" --author "${{ matrix.inside.name }} <${{ matrix.inside.email }}>"
          git push