name: Checkin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  generate-changes:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - name: Get all changes
        run: |
           git log --since=format:relative:24.hours.ago --pretty=format:"%h%x09%an%x09%ae%x09%at" | jq -nR '[
                                                   inputs |
                                                   split("\t") |
                                                   {
                                                     "commit": .[0],
                                                     "name": .[1],
                                                     "email": .[2],
                                                     "timestamp": .[3]
                                                   }
                                                 ] | { "inside": . }' > changes.json

      - name: Set Matrix
        id: set-matrix
        run: echo "matrix=$(jq -c . < ./changes.json)" >> $GITHUB_OUTPUT
#        run: echo "matrix=[{\"project\":\"foo\",\"config\":\"Debug\"},{\"project\":\"bar\",\"config\":\"Release\"}]" >> $GITHUB_OUTPUT
#        run: echo "matrix={\"include\":[{\"project\":\"foo\",\"config\":\"Debug\"},{\"project\":\"bar\",\"config\":\"Release\"}]}" >> $GITHUB_OUTPUT

  commit-changes:
    needs: generate-changes
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.generate-changes.outputs.matrix) }}
    steps:
      - name: start
        run: |
          echo "hellO"